{% extends "base.html" %}

{% block container %}

    <div>
        
    </div>
    
    <h1>gögn frá firebase ! </h1>
    {% if sg == False %}
        {% for i in gd.values() %}
            {{i['email']}} <br>
            {{i['nafn']}} <br>
        {% endfor %}
    {% endif %}

    {% if sg == True %}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nafn</th>
                    <th>Flokkur</th>
                    <th>Skopun</th>
                    <th>mynd</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for i in gd.values() %}
            
                <tr>
                    <td>1</td>
                    <td>{{i['nafn']}}</td>
                    <td>{{i['flokkur']}}</td>
                    <td>{{i['texti'] | safe }}</td>
                    <td>{{i['mynd']}}</td>
                </tr>
            
            {% endfor %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}
