{% extends "base.html" %}

{% block title %}
    Kvikmyndir
{% endblock %}

{% block content %}

<h1>The movie database</h1>
<br>
<div class="pure-g">
        <div class="pure-u-1 pure-u-xl-1-4 container2">
        <h2>Nafn: {{myndir['title']}}</h2> <p>Ár: {{ d }}</p> <br>
        <img class="imger" src="https://image.tmdb.org/t/p/original{{myndir['poster_path']}}"> <p>Timi: {{myndir['runtime']}}</p> <br>
        <p>Genra: {% for i in myndir['genres'] %} <a href="/Flokkar/{{i['id']}}"> {{i['name']}} </a>{% endfor %} </p>
        <p>overview: {{myndir['overview']}}</p> <br>
        <div class="container">
            {% for u in t['results'] %}
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{u['key']}}" title="Trailer" frameborder="0.1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>Trailer</iframe>
            {% endfor %}
        </div>
        <br>
        <div class="">
            {% for o in c['crew'] %}
                {% if o['known_for_department'] == "Director" or o['known_for_department'] == Director %}
                        {{ o }}
                {% endif %}
            {% endfor %}
            {% if c['cast']|length < 5 %}
                {% for h in c['cast'] %}
                    {{ h['name'] }}
                {% endfor %}
            {% endif %}
            {% if c['cast']|length > 5 %}
                {% for h in c['cast'][:5] %}
                    {{ h['name'] }}
                {% endfor %}
            {% endif %}
        

        </div>
        <br>
    </div>
</div>

{% endblock %}