{% extends "base.html" %}

{% block container %}
    
    <h1>Formið</h1>
    <!-- birtum formið hér fyrir neðan -->
    <form class="pure-form" action="/nyskra" method="POST">
        {{ df.csrf_token }}

        {{ df.flokkur.label }}
        {{ df.flokkur }}
        <br>
        {{ df.nafn.label }}
        {{ df.nafn }}
        <br>
        {{ df.texti.label}}
        {{ df.texti }}
        <br>
        {{ df.mynd.label}}
        {{ df.mynd }}
        <br>
        {{ df.takki }}

    </form>

    {{ ckeditor.load(pkg_type="standard") }}  <!--  Hlöðum editornum inn í templateið, pk_type= basic/standard/full -->
    {{ ckeditor.config(name='texti') }}   <!--  hér veljum við field til að setja editorinn á, í þessu tilviki texti -->
    
    {% endblock %}