<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Titil</title>
</head>
<body class="bg-gradient">
    <br>
    
    {% include "valmynd.html" %}
    
    <br>

    <h2>{{ texti }}</h2>
    

    <h1>pogger þetta er siða tvö</h1>
    
    <div class="kassar">
    {% for i in listi: %}
        {{ i }} <br>
    {% endfor %}
    <br>
    <br>
    {% for i in lið: %}
        {{ lið[i] }} <br>
    {% endfor %}
    </div>
</body>
</html>