<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Titil</title>
</head>
<body class="bg-gradient">
    <br>
    
    {% include "valmynd.html" %}
    
    <br>

    <div class="product">
        <h1 class="name">{{nafn}}</h1>
        <p class="lysing">{{lysing}}</p>
        <img class="image" src="{{url_for('static',filename=mynd)}}">
        <p class="verd">{{verd}}Kr</h2>
    </div>


</body>
</html>