<div class="pure-menu pure-menu-horizontal container4">
    <ul class="pure-menu-list">
        {% for i in valmynd %}
            <li class="pure-menu-item">
                <a href="{{ i['url'] }}" class="pure-menu-link">{{ i['hlekkur']}}</a>
            </li>
        {% endfor %}
    </ul>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">flokkar</a>
        <ul class="pure-menu-children">
            {% for i in flokkur %}
            <li class="pure-menu-item">
                <a href="{{i['url']}}" class="pure-menu-link">{{i['hlekkur']}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</div>